* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contenedor {
  display: grid;
  gap: 10px;
  justify-content: center;
}


.caja {
  width: 100px;
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
}


@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(2, 100px);
  }
}


@media (min-width: 769px) {
  .contenedor {
    grid-template-columns: repeat(3, 100px);
  }
}
